.stamplist
	.taglabeltemplate
		label
		img(src='/images/grayx.png') 
	.selectcollection
		label Collection:
		input#collectionsource.styled(type='text')
		label Tags:
		input#tagsource.styled(type='text')
		input#addLocalTag(type='image', src='/images/arrow_right.png')
		.localTaglabels
	.searchcollection
		img#doSearch(src='/images/search.jpg', title="Search by collection and tags")
	!=partial('_searchcriteria', {wantImageNav : false})
	img#clearsearch(src='/images/eraser.png', title="Clear search")
- if (stamps != null && stamps.length > 0)
	.listings
		!=partial('_stamplisting', {collection : stamps, as : 'item'})
script
	var	array;
	array = !{JSON.stringify(arr)};
	function setAutoCompletes() {	
		picklists.setTagsAutocomplete(false);
		picklists.setCollectionsAutocomplete(false);
		picklists.setCountriesAutocomplete(false);
	}
	function clearSearchEntries () {
		$('#collectionsource').val(null);
		$('#tagsource').val(null);
	}
	function search(){
		if(picklists.getCollections().length === 0 && picklists.getTags().length === 0){
			return;
		}	
		createQueryAndSearch(cleanup);
	}
	function setImages(){
		var i, stampId, defaultImageSrc, img;
		for (i = 0; i < array.length; i++) {
			stampId = array[i].stampId;
			defaultImageSrc = array[i].defaultImageSrc;
			img = $('.stampitem[id="'+stampId+'"] > .stampitem-image > img');
			img.attr('src', defaultImageSrc);
		};
		$('.stampitem > .stampitem-image > img').each(function(){
			if(this.src.length === 0){
				this.src = '/images/nostamp.png';
			}	
		});				
	}
	function setActions (argument) {
		var toaster;
		toaster = $('#toaster');	
		$('.stampitem-actions > .submitToSandbox').click(function(e) {
			var id, that;
			id = $(this).parent().prev('div').attr('id');
			that = $(this);
			submitToSandbox(id, function(message){
				showToaster(that, toaster, "copied");
			});
		});
		$('.stampitem-actions > .deleteStamp').click(function (e) {
			var id;
			id = $(this).parent().prev('div').attr('id');
			deleteStamp(id, function(data){
				if(data.success){
					$('#'+ id).remove();
				}
			});
		});
		$('.stampitem').click(function () {
			goToStamp(this.id);
		});
	}
	function cleanup () {
		setImages();
		deleteLocalTags();
		clearSearchEntries();
		truncate();
	}
	function setSearchControls (){
		if(picklists.getCollections().length === 0){
			$('#collectionsource').attr("disabled", "disabled");
		}
		if(picklists.getTags().length === 0){
			$('#tagsource').attr("disabled", "disabled");
		}				 
	}
	$(function(){
		$('.listings').hide();
		$('#clearsearch').click(function () {
			clearSearch(cleanup);
		});
		$('#tagsource').blur(function () {
			leaveTag(this);
		});
		$('#addLocalTag').click(function () {
			addLocalTag();
		});		
		$('#doSearch').click(search);	
		setSearchControls();
		filterStampListings(cleanup);
		setAutoCompletes();
		$(window).load(function(){
			setTimeout('truncate();setActions();', 50);
		});
		$('.listings').show();
	});
