extends layout 

block content 
	.albumpage
	script
		var imageInfos, factor;
		factor = 1.45;
		function getMaxWidth(length){
			return 1024 - (length * 20) ;
		}
		function createAlbumRow (stampImages) {
			var albumRow, width, totalWidth, item, i, maxWidth;
			maxWidth = getMaxWidth(stampImages.length);
			albumRow = [];
			totalWidth = 0;
			width = 0;
			for (i = 0; i < stampImages.length; i++) {
				item = stampImages[i]; 
				width = item.width / factor;
				totalWidth += width;
				if(totalWidth <= maxWidth){		
					albumRow.push(item);
				}
			};
			return albumRow;
		}
		function extractImageInfos (stamps) {
			var stamp, imageInfos, displayProperties, defaultImageId, propertyName, imageInfo, i, j;
			propertyName = 'defaultimage';
			imageInfos = [];
			for (i = 0; i < stamps.length; i++) {
				stamp = stamps[i];
				displayProperties = stamp.displayProperties;
				defaultImageId = PropertyManager.getPropertyValue(displayProperties, propertyName);
				for (j = 0; j < stamp.imageInfos.length; j++) {
					imageInfo = stamp.imageInfos[j];
					if(imageInfo._id === defaultImageId){
						imageInfos.push(imageInfo);
					}
				};
			};
			return imageInfos;
		}
		function getAllImages () {
			$.ajax({
				type : 'POST',
				url :'/getAllImages',
				success : function( stamps ) {
					var imageInfos;
					imageInfos = extractImageInfos(stamps);
					albumPage = createAlbumPage(imageInfos);
					albumPage.forEach(function (albumRow) {
						renderAlbumRow(albumRow);
					})		
				}
			});
		}
		function createAlbumPage (stampImages) {
			var albumRow, albumPage;
			albumPage = [];
			while(stampImages.length > 0){
				albumRow = createAlbumRow(stampImages);
				stampImages = stampImages.slice(albumRow.length);
				albumPage.push(albumRow);
			}
			return albumPage;
		}
		function createImg (element) {
			var image;
			image = $('<img></img>');
			image.attr('src', element.url);
			image.attr('width', element.width / factor);	
			return image;
		}
		function createlabel (element) {
			var label;
			label = $('<label></label>');
			label.text(element.caption);
			return label;
		}
		function getCellWidth (length) {
			return 100/length + '%';
		}
		function stampClick (obj) {
			document.location.href = '/stamps/?id=' + $(obj).attr('id');
		}
		function renderAlbumRow (albumRow) {
			var albumrowDiv, outertable, outerRow, imageCell, labelCell, width, innercell,  innertable, innerimagerow, innerlabelrow;
			albumrowDiv = $('<div></div>');
			albumrowDiv.addClass('albumrow');
			outertable = $('<table></table>');
			outertable.addClass('outertable');
			outerRow = $('<tr></tr>');
			albumRow.forEach(function (element) {
				width = getCellWidth(albumRow.length);
				innercell = $('<td></td>');
				innertable =  $('<table></table>');
				innertable.attr('id', element.stampId);
				innertable.click(function(){stampClick(this);});			
				innertable.css('width', width);
				innertable.addClass('innertable');
				innerimagerow =  $('<tr></tr>');
				imageCell = $('<td></td>');
				imageCell.append(createImg(element));
				imageCell.attr('width', width);
				innerimagerow.append(imageCell);
				innertable.append(innerimagerow);
				innerlabelrow =  $('<tr></tr>');
				labelCell = $('<td></td>');
				labelCell.append(createlabel(element));
				labelCell.css('width', width);
				innerlabelrow.append(labelCell);
				innertable.append(innerlabelrow);
				innercell.append(innertable);
				outerRow.append(innercell);
			})
			outertable.append(outerRow);	
			albumrowDiv.append(outertable);	
			$('.albumpage').append(albumrowDiv);
		}
		$(function(){
			getAllImages();
		});