extends ../layout

block content 
	.stamplist
	- if (sandboxstamps != null && sandboxstamps.length > 0)
		.listings
			include _sandboxstamplisting
	script
		initializeSandbox(!{JSON.stringify(arr)});