link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Muli", type='text/css')
link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Raleway:100", type='text/css')
link(rel="stylesheet", href="/stylesheets/jquery-ui.css")
link(rel="stylesheet", href="/stylesheets/layout.css")
link(rel="stylesheet", href="/stylesheets/common.css")
link(rel="stylesheet", href="/stylesheets/stamp.css")
link(rel="stylesheet", href="/stylesheets/search.css")
link(rel="stylesheet", href="/stylesheets/stamplist.css")
link(rel="stylesheet", href="/stylesheets/album.css")
link(rel="stylesheet", href="/stylesheets/admin.css")