extends layout 

block content 
	input(type='hidden', name='_id', id='_id', value=catalog._id || '')
	.admin
		.admin-catalog
			label Name: 
			input.styled(name='name', type='text', value=catalog.name || '', onblur="updateCatalog(this);")
			button(id='upsertCatalogButton', onclick='upsertCatalog()') Save Catalog
		.admin-catalog-list
			h4 Catalogs
			#catalogs
				include stamps/_catalog
		.admin-user
			label User Name: 
			input#username.styled(type='text')
			label Administrator: 
			input#isAdmin(type='checkbox')
			button(id='upsertUserButton', onclick='upsertUser()') Save User
		.admin-user-list
			h4 Users
			#users
				include stamps/_user
		.admin-currency
			button(onclick='document.location="/currencies"') Currencies
		.admin-imgseek
			button(onclick='getMostSimilarImages(37, getImagesByImgSeekId)') ImgSeek Test
		#targetimage
		.separator
		#images
	script
		var catalog, newUser
		catalog = !{JSON.stringify(catalog)};
		newUser = !{JSON.stringify(newUser)};
		function getMostSimilarImages(id, callback){
			$.ajax({
				type : 'POST',
				url :'/getMostSimilarImages',
				data : { id: id},
				success: function(value){
					var idScores = [];
					value.array.forEach(function (array){
						if(array[1] > 20){
							idScores.push({id: array[0], score: array[1]});
						}
					})
					if (callback) {
						callback(id, idScores);
					}
				}
			});		
		}
		function displayImages(targetUrl, urls){
			$("#targetimage").append($('<img/>').attr({"src" : targetUrl, "width" : 100}));
			urls.forEach(function (url){
				$("#images").append($('<img/>').attr({"src" : url, "width" : 100}));
			})
		}
		function getImagesByImgSeekId(id, idScores){
			var ids = [];
			idScores.forEach(function(idScore){
				ids.push(idScore.id);
			})
			$.ajax({
				type : 'POST',
				url :'/getImagesByImgSeekId',
				data : { ids: ids},
				success: function(value){
					var idUrls, orderedIdUrls, urls, targetUrl, idScoreId, i;
					idUrls = [];
					orderedIdUrls = [];
					urls = [];
					value.forEach(function(stamp){ 
						stamp.imageInfos.forEach(function(imageInfo){
							if(imageInfo.imgSeekId === id ){
								targetUrl = imageInfo.url;
							}
							if (imageInfo.imgSeekId && imageInfo.imgSeekId !== id  && ids.indexOf(imageInfo.imgSeekId >= 0)){
								idUrls.push({id : imageInfo.imgSeekId, url: imageInfo.url});
							}
						})
					})
					for (i = 0; i < idScores.length ; i++) {
						idScoreId = idScores[i].id;
						idUrls.forEach(function(idUrl){
							if(idUrl.id === idScoreId) {
								if(orderedIdUrls.indexOf(idUrl) === -1){
									orderedIdUrls.push(idUrl);
								}
							}
						}) 
					}
					orderedIdUrls.forEach(function(idUrl){
						urls.push(idUrl.url);
					})
					displayImages(targetUrl, urls);
				}
			});		
		}
		function getCountries() { 
			removeLocalStorageKey('countries');
			picklists.setCountriesAutocomplete(false);
		}
		function addCurrencyToCountry(){	
			var issuedBy, name, symbol, countryCurrency;
			countryName = $('#issuedBy').val();
			name = $('#currency').val();
			symbol = $('#currencySymbol').val();
			countryCurrency = {countryName : countryName, name: name, symbol: symbol };
			$.ajax({
				type : 'POST',
				url :'/addCurrencyToCountry',
				data : { countryCurrency:  countryCurrency},
				success: function(country){	
					console.log(country);
				}
			});
		}
		function updateCatalog (obj) {
			catalog[obj.name] = obj.value;
			$('#upsertCatalogButton').focus();
		}
		function deleteCatalog(id){
			$.ajax({
				type : 'POST',
				url :'/deleteCatalog',
				data : {id : id},
				success: function(catalogs){	
					renderCatalogsPartial(catalogs);	
				}
			});
		}
		function getCatalogs(){
			$.ajax({
				type : 'POST',
				url :'/getCatalogs',
				success: function(catalogs){	
					renderCatalogsPartial(catalogs);	
				}
			});
		}
		function upsertCatalog() {
			$.ajax({
				type : 'POST',
				url :'/upsertCatalog',
				data : {catalog : catalog},
				success: function(newCatalog){
					catalog = newCatalog;
					getCatalogs();
				}
			});
		}
		function upsertUser() {
			var user, username, isAdmin;
			username = $('#username').val();
			isAdmin = $('#isAdmin').attr('checked') === 'checked' ? 1 : 0;
			user = {username : username, isAdmin: isAdmin};
			$.ajax({
				type : 'POST',
				url :'/upsertUser',
				data : {user : user},
				success: function(){
					getUsers();
				}
			});
		}
		function deleteUser(id){
			$.ajax({
				type : 'POST',
				url :'/deleteUser',
				data : {id : id},
				success: function(users){	
					renderUsersPartial(users);
				}
			});
		}
		function getUsers(){
			$.ajax({
				type : 'POST',
				url :'/getUsers',
				success: function(users){	
					renderUsersPartial(users);
				}
			});
		}
		function renderCatalogsPartial(catalogs){
			var catalog, i, parent, nameInput, catalogId;
			parent = $('#catalogs');
			parent.children().remove();
			if(catalogs.length === 0){
					return;
			}
			for (i = 0; i < catalogs.length; i += 1) {
				catalog = catalogs[i];
				catalogId = "'"+catalog._id+"'";
				parent.append('<div id="' + catalog._id + 
				'" class="cataloglisting"><label>'+ catalog.name + 
				'</label><img src="/images/delete.png" onclick="deleteCatalog('+catalogId+')");"></div>');
			};	
			nameInput = $('.testcatalog input');
			nameInput.val('');
			nameInput.focus();			
		}	
		function renderUsersPartial(users){
			var user, i, parent, nameInput, userId , isAdmin;
			parent = $('#users');
			parent.children().remove();
			if(users.length === 0){
					return;
			}
			for (i = 0; i < users.length; i += 1) {
				user = users[i];
				userId = "'"+user._id+"'";
				isAdmin = user.isAdmin ? 'admin' : 'user'
				parent.append('<div id="' + user._id + 
				'" class="userlisting"><label>'+ user.username + '</label>'+
				'<label>'+ isAdmin + '</label>' +
				'<img src="/images/delete.png" onclick="deleteUser(' + userId + ')");"></div>');
			};	
			$('#isAdminCheckbox').removeAttr('checked');
			nameInput = $('.testuser input');
			nameInput.val('');
			nameInput.focus();			
		}
		$(function(){
			picklists.setCountriesAutocomplete(false);
		});

