H2 Test
label#colorname
br
canvas#canvas
br
button(onclick= 'displayInvertedImage("http://localhost:3000/temp/small.bmp)') DisplayI nverted Image
button(onclick= 'displayImageColorNames("http://localhost:3000/temp/small.bmp", display)')  Get color names
script
	function display (colorNames) {
		$('#colorname').text(colorNames)
	}