body {
  padding: 10px 10px;
  font-size: 14px;
  font-family: Muli;
  width: 1024px;
  float: left;}

.content {
  float: left;}

.welcome {
  border: 1px solid transparent;
  height: 20px;
  width: 1003px;
  float: left ;}

#welcome {
  color: gray;
  text-transform: lowercase;
  float: right;}

.header {
  margin-bottom: 10px;
  width: 1024px;
  float: left;}

.headertext {
  margin-top: -10px;
  float: left;}

.headertext label {
  font-size: 36px;
  cursor: pointer;}

.headertext a {
  text-decoration: none;
  color: black;}

.header img {
  float: right;
  cursor: pointer;}

.menu {
  height: 31px;
  float: right;}

ul.menu {
  margin: 0;
  padding: 0;}

ul.menu li {
  list-style: none;
  float: left;
  height: 31px;
  text-align: center;}

ul.menu li a {
  display: block;
  padding: 0 20px;
  border-left: 1px solid transparant;
  border-right: 1px solid lightgreen;
  text-align: center;
  line-height: 31px;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Raleway;}

ul.menu li.active a {
  background: #E8FFE0;}

#loginMenu a {
  border: none !important;}

#logoutMenu a {
  border: none !important;}

.logincontainer {
  display: none;
  background-color: slategray;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  position: absolute;
  height: 50px;
  width: 267px;
  left: 755px;
  top: 65px;
  float: left;}

.logincontrols {
  margin-top: 8px;
  margin-right: 10px;
  text-align: center;
  float: right;}

#usernameInput {
  width: 120px !important;
  height: 25px !important;
  padding: 0px 8px !important;
  margin-right: 10px;}

.blue-button {
  background: #e7e7e7;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #598da4), color-stop(10%, #5e98b1), color-stop(50%, #5397b5), color-stop(50%, #4690b3),  color-stop(100%, #4690b3));
  background: -webkit-linear-gradient(top center, #598da4 0%,#5e98b1 10%,#5397b5 50%,#4690b3 50%,#4690b3 100%);
  background: -moz-linear-gradient(top center, #598da4 0%,#5e98b1 10%,#5397b5 50%,#4690b3 50%,#4690b3 100%);
  background: -o-linear-gradient(top center, #598da4 0%,#5e98b1 10%,#5397b5 50%,#4690b3 50%,#4690b3 100%);
  background: -ms-linear-gradient(top center, #598da4 0%,#5e98b1 10%,#5397b5 50%,#4690b3 50%,#4690b3 100%);
  background: linear-gradient(top center, #598da4 0%,#5e98b1 10%,#5397b5 50%,#4690b3 50%,#4690b3 100%);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #31708d;
  color: #fff;
  text-shadow: 0 -1px #333;
  padding: 6px 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;}

.blue-button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #477183), color-stop(10%, #487d94), color-stop(50%, #407b95), color-stop(50%, #38738e), color-stop(100%, #38738e));
  background: -webkit-linear-gradient(top center, #477183 0%,#487d94 10%,#407b95 50%,#38738e 50%,#38738e 100%);
  background: -moz-linear-gradient(top center, #477183 0%,#487d94 10%,#407b95 50%,#38738e 50%,#38738e 100%);
  background: -o-linear-gradient(top center, #477183 0%,#487d94 10%,#407b95 50%,#38738e 50%,#38738e 100%);
  background: -ms-linear-gradient(top center, #477183 0%,#487d94 10%,#407b95 50%,#38738e 50%,#38738e 100%);
  background: linear-gradient(top center, #477183 0%,#487d94 10%,#407b95 50%,#38738e 50%,#38738e 100%);}


#homeImage {
  width: 1003px;}

.hoverImage {
  border: 4px dashed gray;}
