.stampcontainer {
  width: 1024px;
  border: 1px solid transparent;
  float: left;}


.toprail {
  width: 1024px;
  margin-bottom: 5px;
  float: left;}

.country {
  float: left;}

.country label {
  margin-top: 13px;
  margin-right: 10px;
  float: left  ;}

#issuedBy {
  width: 225px !important;
  margin-right: 13px  !important;
  float: left;}

.year {
  float: left;}

.year label {
  margin-top: 13px;
  margin-right: 20px;
  float: left;}

.year input {
  margin-right: 15px;
  float: left;}

#issueYear {
  width: 40px !important;
  float: left;}

.monthday {
  float: left;}

.monthday input {
  width: 50px !important;
  margin-right: 10px;
  float: left;}

.monthday label {
  margin-top: 13px;
  margin-right: 10px;
  float: left;}

.series {
  float: left;}

.series label {
  margin-top: 13px;
  margin-right: 10px;
  float: left;}

.series input {
  width: 360px !important;
  float: left;}


.slider-container {
  width: 1024px;
  margin-bottom: 10px;
  float: left;}

.catalog {
  float: left;}

.catalog input[type='checkbox'] {
  margin-top: 15px;
  float: left;}

.catalog label {
  margin-top: 13px;
  float: left;}

.prv {
  width: 20px;
  margin-top: 4px;
  margin-left: 15px;
  float: left;}

.prv > img {
  margin-top: 5px;
  margin-left: -10px;
  height: 25px;}

.slider {
  width: 170px;
  height: 40px;
  overflow: hidden;
  float: left   ;}

.slider > ul {
  position: relative;
  -webkit-transition: 0.5s left;
  -moz-transition: 0.5s left;
  -ms-transition: 0.5s left;
  -o-transition: 0.5s left;
  list-style: none;
  margin-top: -5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin: 0;
  padding: 0;}

.slider > ul > li {
  float: left;
  width: 170px;
  text-align: center;
  height: 40px;}

.slider > ul > li > label {
  float: left;
  margin-top: 13px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  width: 150px;}

.slider > ul > li > input {
  width: 50px;}

.nxt {
  width: 20px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 15px;
  float: left;}

.nxt > img {
  margin-top: 4px;
  margin-left: -8px;
  height: 25px;}

.slidercontrols {
  float: left;
  margin-right: 15px;}

.slidercontrols label {
  float: left;
  margin-top: 15px;
  margin-right: 10px;}

.catalognumber {
  width: 40px !important;
  float: left;}

.watermark label {
  float: left;
  margin-top: 15px;
  margin-right: 10px;}

.watermark input {
  width: 50px !important;
  float: left;
  margin-right: 7px;}

.design {
  float: left;}

.design label {
  margin-top: 13px;
  margin-right: 7px;
  float: left;}

.design input {
  width: 360px !important;
  float: left;}


.left {
  width: 320px;
  margin-top: 5px;
  float: left;}

.largeimage {
  width: 304px;
  height: 304px;
  margin-bottom: 5px;
  border: gainsboro 4px dashed;
  cursor: pointer;
  float: left;}

#defaultimage {
  margin-right: 15px;
  margin-top: -30px;
  float: right;}

.imagecaption input[type='text'] {
  width: 230px !important;
  margin-left: 10px;}

.imagenav {
  margin-left: -2px;}

.imagenav input {
  width: 24px;
  height: 24px;
  margin: 10px 0px;}

.imagenav .removeImage {
  width: 18px;
  height: 18px;
  margin-left: 200px;
  margin-top: 0px;
  padding-bottom: 5px;
  border: 0px;}


.centerrail {
  width: 700px;
  margin-top: 5px;
  height: 100%;
  float: left;}

.currency {
  width: 695px;
  margin-bottom: 10px;
  float: left;}

.facevalue {
  margin-left: 5px;
  float: left;}

.facevalue label {
  margin-top: 13px;
  margin-right: 13px;
  float: left;}

.facevalue input {
  width: 120px !important;
  margin-right: 3px;
  float: left;}

.currencySymbol {
  float: left;}

.currencySymbol input {
  width: 20px !important;
  margin-right: 10px;}

.currencySymbol label {
  margin-right: 5px;}

.currencyName {
  float: left;}

.currencyName input {
  width: 120px !important;
  margin-right: 5px;}

.currencyName label {
  margin-right: 10px;}

.colors {
  width: 695px;
  float: left;
  margin-bottom: 10px;}

.colors label {
  margin-top: 13px;
  margin-left: 5px;
  margin-right: 40px;
  float: left;}

.colors input {
  width: 270px !important;
  float: left;}

.paperprintingperf {
  width: 695px;
  margin-bottom: 10px;
  margin-left: 5px;
  float: left;}

.paper {
  float: left;}

.paper label {
  margin-right: 43px;
  margin-top: 13px;
  float: left;}

.paper input {
  width: 70px !important;
  margin-right: 15px;
  float: left;}

.printingMethod {
  float: left;}

.printingMethod label {
  margin-right: 20px;
  margin-top: 13px;
  float: left;}

.printingMethod input {
  width: 85px !important;
  margin-right: 10px;
  float: left;}

.papercolor {
  float: left;}

.papercolor label {
  margin-right: 10px;
  margin-top: 13px;
  float: left;}

.papercolor input {
  width: 63px !important;
  margin-right: 10px;
  float: left;}

.perf {
  float: left;}

.perf label {
  margin-right: 10px;
  margin-top: 13px;
  float: left;}

.perf input {
  width: 60px !important;
  float: left;}

.conditionandcomments {
  float: left;
  width: 695px;
  margin-left: 5px;}

.condition {
  width: 700px;
  margin-bottom: 10px;
  float: left;}

.condition label {
  margin-right: 20px;
  margin-top: 13px;
  float: left;}

.condition input {
  width: 40px !important;
  margin-right: 5px;
  float: left;}

.centering {
  width: 40px !important;
  margin-right: 10px;
  float: left;}

.gumstate {
  width: 25px !important;
  margin-right: 10px;
  float: left;}

#conditioncomments {
  width: 387px  !important;
  float: left;}

.comments {
  float: left;}

.comments textarea {
  width: 587px  !important;
  text-align: left;
  float: left;}

.comments label {
  margin-right: 10px;
  float: left;}


.categorylabeltemplate {
  display: none;}

.categories {
  margin-top: 15px;
  color: dimgray;
  float: left;}

.categories label {
  width: 80px;
  margin-top: 10px;
  margin-right: 10px;
  float: left;}

.categories input {
  width: 190px !important;
  float: left;}

#addCategory {
  width: 45px !important;
  margin-top: -3px;
  margin-left: 15px;
  margin-right: 15px;
  float: left;}

.categorylabels {
  width: 520px;
  float: left;}

.collectionlabeltemplate {
  display: none;}

.collections {
  margin-top: 15px;
  color: green;
  float: left;}

.collections label {
  width: 80px;
  margin-top: 10px;
  margin-right: 10px;
  float: left;}

.collections input {
  width: 190px !important;
  float: left;}

#addCollection {
  width: 45px !important;
  margin-top: -3px;
  margin-left: 15px;
  margin-right: 15px;
  float: left;}

.collectionlabels {
  width: 520px;
  float: left;}

.taglabeltemplate {
  display: none;}

.tags {
  margin-top: 15px;
  float: left;}

.tags input {
  width: 190px !important;
  float: left;}

.tags label {
  width: 80px;
  margin-top: 10px;
  margin-right: 10px;
  color: blue;
  float: left;}

#addTag {
  width: 45px !important;
  margin-top: -3px;
  margin-left: 15px;
  margin-right: 15px;
  float: left;}

.taglabels {
  width: 520px;
  float: left  ;}


#popupImage {
  display: none;
  position: fixed;
  background: black;
  border: 2px solid #cecece;
  z-index: 2;
  padding: 25px;}

#popupImageClose {
  font-size: 24px ;
  line-height: 14px  ;
  right: 6px;
  top: 3px;
  cursor: pointer;
  position: absolute ;
  color: #6fa5fd ;
  font-weight: 700  ;
  display: block;}

#backgroundPopup {
  display: none;
  position: fixed;
  width: 1024px;
  height: 100%;
  padding: 10px;
  top: 0;
  left: 0;
  background: #000000;
  border: 1px solid #cecece;
  z-index: 1;}
